@media (max-width: 1200px)
	.header_menu
		.menu_item
			padding-right: 21px
		.menu_link
			font-size: 13px
	.promo
		&_header
			font-size: 50px
	.advantages
		&_item
			align-items: flex-start
			&_img
				margin-top: 16px
			&_logo_desc
				width: 300px
				margin-bottom: 50px
	.mobile
		&_item
			width: 300px
	.footer_wrapper
		.devices
			margin-left: 20px
			width: 260px
@media ( max-width: 991px)
	.header_menu
		.menu_item
			padding-right: 7px
		.menu_link
			font-size: 11px
	.mobile
		&_item
			margin-left: auto
			margin-right: auto
	.footer_wrapper
		flex-direction: column
		.footer_nav
			margin-left: 0
		.icons
			margin-top: 9px
	.subheader
		.subheader_logo
			.uber_logo
				max-width: 100%
		.uber_logo_desc
			font-size: 12px
		.phone_numb
			font-size: 19px
		.subheader_btn
			width: 100%
	.advantages
		&_item
			&_logo_desc
				width: 371px

@media ( max-width: 767px)
	header
		position: relative
	.header_menu
		// position: relative
		.menu		
			position: fixed
			flex-direction: column
			justify-content: center
			align-items: center
			top: 0
			left: -100% 
			width: 50%
			height: 100vh
			// margin: 0
			padding: 20px 15px
			background-color: rgba(0, 0, 0, .8)
			transition: 0.6s all
			&_active
				left: 0
			.menu_item
				padding-right: 0
				border: none
				margin: 10px 0
			.menu_link
				font-size: 20px
	.subheader
		.subheader_btn
			margin-top: 4px
	.choice_car
		width: 560px
		height: 360px
		top: 285px
	+hamburger
	.xs-hidden
		display: none
	.subheader
		.xs-visable
			display: block

@media (max-width: 575px)
	+hamburger
	.promo_header
		font-size: 36px
	.promo_subheader
		font-size: 22px
		line-height: 28px
		margin-top: 4px
	.choice_car
		width: 320px
		height: 190px
		top: 400px
	.xs-hidden
		display: none
	.subheader
		.xs-visable
			display: block
	.footer_wrapper
		.footer_nav
			width: 310px
	footer
		.delimiter
			width: 250px
	.subheader 
		.phone_numb
			font-size: 16px
	.subheader 
		.subheader_btn
			margin-top: 6px
	.header_menu 
		.menu 
			.menu_link
				font-size: 10px
	.advantages_item
		flex-direction: column
		justify-content: center
		align-items: center
		&_logo_desc
			width: 300px
