@charset "UTF-8";
/* line 11, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 14, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.header_menu {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 13px 71px 13px;
  height: 53px;
  background: #212121;
  margin: 0;
  z-index: 1;
}

/* line 24, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.header_menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 53px;
}

/* line 28, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.header_menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 34, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.header_menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

/* line 39, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader {
  position: absolute;
  width: 100%;
  margin-top: 53px;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}

/* line 46, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .subheader_logo .uber_logo {
  margin-top: 19px;
  max-width: 285px;
}

/* line 50, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .uber_logo_desc {
  opacity: 0.6;
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
}

/* line 56, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .phone_desc {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}

/* line 63, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .phone_numb {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 72, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .subheader_btn {
  margin-top: 22px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 7, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 88, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo {
  min-height: 799px;
  background: url("../img/bg/uber_bg.jpg") center center/cover no-repeat;
  padding: 203px 0 185px 0;
}

/* line 93, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo .promo_header {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 101, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo .promo_subheader {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 110, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo .promo_desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

/* line 118, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo .promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 7, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 134, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.label {
  margin: 18px auto 0px auto;
  padding-top: 6px;
  width: 113px;
  height: 24px;
  background-color: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 145, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.label_choice {
  background-color: #ffffff;
  color: #070716;
  margin: 0 auto;
}

/* line 150, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.title {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

/* line 160, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.title_choice {
  color: #ffffff;
  line-height: 48px;
  margin-top: 26px;
}

/* line 164, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.title_conditions {
  margin-top: 27px;
}

/* line 167, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.advantages {
  min-height: 864px;
}

/* line 171, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.advantages .advantages_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 150px;
}

/* line 177, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.advantages .advantages_item .advanteges_img_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
}

/* line 186, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.advantages .advantages_item .advanteges_logo_desc {
  width: 371px;
  height: 150px;
  margin-top: 16px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 15px;
  color: #202020;
}

/* line 195, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.advantages .advantages_item .advanteges_logo_desc span {
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7;
}

/* line 200, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #222222;
}

/* line 206, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.subtitle_choice {
  color: #ffffff;
}

/* line 209, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile {
  min-height: 864px;
}

/* line 211, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile .row {
  padding-top: 30px;
}

/* line 213, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin-bottom: 19px;
  padding-top: 82px;
}

/* line 219, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 226, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_1 {
  background: url("../icons/opportunities/1_card.jpg") center center/cover no-repeat;
}

/* line 228, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_2 {
  background: url("../icons/opportunities/2_card.jpg") center center/cover no-repeat;
}

/* line 230, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_3 {
  background: url("../icons/opportunities/3_card.jpg") center center/cover no-repeat;
}

/* line 232, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_4 {
  background: url("../icons/opportunities/4_card.jpg") center center/cover no-repeat;
}

/* line 234, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_5 {
  background: url("../icons/opportunities/5_card.jpg") center center/cover no-repeat;
}

/* line 236, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_6 {
  background: url("../icons/opportunities/6_card.jpg") center center/cover no-repeat;
}

/* line 238, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s all;
}

/* line 252, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_plus img {
  max-height: 70%;
}

/* line 254, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
}

/* line 260, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
}

/* line 269, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.mobile_item_plus:hover {
  background-color: #AEF4B4;
}

/* line 272, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.choice {
  position: relative;
  padding-top: 48px;
  height: 493px;
  background-color: #070716;
}

/* line 277, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.choice_1 {
  height: 493px;
}

/* line 279, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.choice_2 {
  z-index: 2;
  height: 397px;
  background: url("../img/bg/light_bg.jpg") center center/cover no-repeat;
}

/* line 283, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.choice_car {
  display: block;
  width: 759px;
  height: 480px;
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* line 292, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.choice .choice_desc {
  margin: 210px auto 0 auto;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

/* line 300, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions {
  padding: 48px 0 59px 0;
}

/* line 302, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_item {
  margin: 33px 0 28px 0;
}

/* line 304, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_item ul {
  margin-top: 20px;
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 29px;
  color: #222222;
  list-style-position: outside;
  padding-left: 50px;
  list-style-type: none;
}

/* line 315, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_item ul li {
  position: relative;
}

/* line 318, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_item ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  height: 20px;
  width: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}

/* line 328, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions .conditions_item_red .conditions_subtitle {
  color: #FF5656;
}

/* line 332, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions .conditions_item_red ul li::before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

/* line 338, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_subtitle {
  margin-top: 20px;
  color: #1CA8C3;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
}

/* line 344, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.conditions_desc {
  margin-top: 25px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
}

/* line 351, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.cities {
  min-height: 720px;
  background: url("../img/bg/world_bg.jpg") center center/cover no-repeat;
  padding: 46px 0 22px 0;
}

/* line 355, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.cities_all {
  margin: 456px auto 0 auto;
  text-align: center;
}

/* line 358, ../../../../../Desktop/Антон/123123/Practics/Uber_partners/src/sass/style.sass */
.cities_all a {
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */